html,
body {
  min-height: 100%;
}

.logo {
  padding: 1rem 0.9rem;
  width: 60%;
  top: 2rem;
  left: 2rem;
}

#__next {
  height: 100%;
}

.bubble {
  background-color: white;
  background-image: url('/images/icons/spritesheet.png');
  background-size: 778px 622px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 152px;
  margin-right: 20px;
  position: absolute;
  transition: opacity ease-in-out 1s;
  width: 152px;
  z-index: 10;
}

.bubbles {
  height: 600px;
  overflow: visible;
  position: relative;
}

.bubbles-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.crunchyroll {
  background-position: -158px -2px;
}

.playstation {
  background-position: 0px -2px;
}

.wakanim {
  background-position: -313px -2px;
}

.hma {
  background-position: -468px -2px;
}

.deezer {
  background-position: -1px -156px;
}

.ae {
  background-position: -158px -158px;
}

.express {
  background-position: -469px -158px;
}

.xbox {
  background-position: -624px -2px;
}

.office {
  background-position: -4px -316px;
}

.youtube {
  background-position: -624px -158px;
}

.ps {
  background-position: -158px -312px;
}

.canva {
  background-position: -313px -313px;
}

.disneyplus {
  background-position: -468px -313px;
}

.spotify {
  background-position: -2px -466px;
}

.cc {
  background-position: -158px -469px;
}

.ai {
  background-position: -313px -158px;
}

.netflix {
  background-position: -469px -469px;
}

.mcafee {
  background-position: -313px -469px;
}

.logo {
  width: 100%;
  height: auto;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}
